<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saldo</title>

    <link rel="icon" href="../Public/imgs/icons/dollar.png" />

    <link rel="stylesheet" href="../Public/styles/global.css">
    <link rel="stylesheet" href="../Public/styles/balance.css">
</head>
<body>
    <div id="container">

        <h1>FINANCER</h1>
        <h3>Saldo</h3>

        <div id="saldo">
            R$ 1.000,00
        </div>

        <div id="main"></div>

        
    </div>
    
</body>
</html>