<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="icon" href="../../Public/img/icons/dollar.png"/>
    <link rel="stylesheet" href="../../Public/styles/login.css">
    <link rel="stylesheet" href="../../Public/styles/global.css">
</head>
<body>

    <div id="logo">
        <h1 class="subli">FI</h1>
        <h1>NAN</h1>
        <h1 class="subli">CER</h1>
    </div>

    <div id="container">
        <h2>Realizar login</h2>

        <form action="/verificardados">

            <div id="mail">
                <label for="Login">Login</label>
                <input type="text">
            </div>

            <div id="password">
                <label for="Senha">Senha</label>
                <input type="text">
            </div>

            <button type="submit">
                Entrar
            </button>
        
        </form>

       <form action="service" id="services">

            <a href="#">Recuperar senha</a>
            <a href="#">Cadastre-se</a>

       </form>
    
</body>
</html>