@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#navbar {
    background: rgba(204, 204, 204, 0.7);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body {
    background: linear-gradient(to left, #1D976C, #93F9B9);
}

.body-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-content {
    width: 100%;
    margin: 1rem 2rem;
    text-align: center;
}

.body-content h1 {
    color: white;
}

.body-content h2 {
    color: white;
    font-size: 1.6em;
}

.body-content form {
    margin-top: 4vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50vh;
}

.body-content form label {
    font-size: 1.2em;
    color: white;
}

.body-content  form input {
    width: 30vw;
    border-radius: 5px;
    border: none;
    margin: 10px;
}

.body-content  form button {
    position: absolute;
    bottom: 34vh;
    left: 40vw;
}

ul {
    margin-top: 10vh;
    list-style-type: none;
}

#registers {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#informatios{
    width: 40vw;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#informatios span {
    margin-left: 9px;
    margin-right: 9px;
}

#descriptions {
    width: 40vw;
    background: #C4C4C4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#descriptions span {
    margin-left: 9px;
    margin-right: 9px;
}

ul > li{
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 40%;
    padding-bottom: .5rem;
}

.apagar-registro {
    width: 10vw;
    position: absolute;
    margin-left: 80vw;
}

.apagar-registro a {
    font-size: .7em;
}

a {
    text-decoration: none;
    color: black;
    padding: .4rem;
}

.apagar-registro:hover{
    background-color: red;
}

.novo-registro{
    margin-left: 0;
}

.editar-registro {
    width: 10vw;
    position: absolute;
    margin-left: 10vw;
}

.editar-registro a {
    width: 70%;
    font-size: .7em;
}

button {
    position: absolute;
    left: 3vw;
    width: 20vw;
    margin-top: 4vh;
    border-radius: 8px;
    background: #00AA70;
}

button:hover {
    background: #90EBCB;
    border: 1px solid #1D976C;
}

button a {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
}

button a h5 {
    font-size: 1em;
    margin-right: 4vw;
    color: white;
    text-shadow: 1px 1px black;
}
