* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    height: 100vh;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #40A24A;
}

#container h1 {
    position: absolute;
    top: 6vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
}

button {
    position: absolute;
    padding: 5px;
    border-radius: 20px;
    border: none;
    width: 22vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: 0;
    top: 70vh;
}

button:hover {
    background-color: #85b88a;
}